#include "asteroid.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 115 GPIO_ACTIVE_HIGH>  // Col 0 - Pin 115
        , <&pro_micro 100 GPIO_ACTIVE_HIGH>  // Col 1 - Pin 100
        , <&pro_micro 104 GPIO_ACTIVE_HIGH>  // Col 2 - Pin 104
        , <&pro_micro 106 GPIO_ACTIVE_HIGH>  // Col 3 - Pin 106
        , <&pro_micro 113 GPIO_ACTIVE_HIGH>  // Col 4 - Pin 113
        , <&pro_micro 111 GPIO_ACTIVE_HIGH>  // Col 5 - Pin 111
        ;
};