#include "asteroid.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 12 GPIO_ACTIVE_HIGH>  // Col 6 - B5 (P1.06)
        , <&pro_micro 11 GPIO_ACTIVE_HIGH>  // Col 7 - B4 (P0.10)
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>  // Col 8 - F4 (P0.31)
        , <&pro_micro 13 GPIO_ACTIVE_HIGH>  // Col 9 - B6 (P0.09)
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>  // Col 10 - B1 (P1.13)
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // Col 11 - F5 (P0.29)
        ;
};